<div class="page-width">
  <div class="grid">
    <div class="grid__item">
	{% section 'about-slideshow' %}
      <div class="rte">
        {{ page.content }}
      </div>
      {% section 'about-us-blocks' %}

    </div>
  </div>
</div>
{% section 'newsletter' %}
{% section 'about-rich-text' %}
{% section 'about-img-blocks' %}

<!-- /* medium-up--five-sixths medium-up--push-one-twelfth */ -->